PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=chong_xueba
AUTH_SECRET=replace-with-a-long-random-secret
DEMO_LOGIN_PASSWORD=123456

# 宠物语音
TTS_PROVIDER=baidu
BAIDU_API_KEY=4aG9Qx0tZgbAl3XgvmC1vFmd
BAIDU_SECRET_KEY=lcs1Zs29oTY6ymMzmab2h2nfDLOPx5Y3
TTS_BAIDU_VOICE=duoduo
# 可选：xiaolu(小鹿) | xiaoshi(小狮) | duoduo(朵朵)
TTS_BAIDU_SPD=3
TTS_BAIDU_PIT=7
TTS_BAIDU_VOL=9
